<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/w3.css">
    <script src="/js/script.js"></script>
    <title>Players</title>
</head>

<body>
    <div class="flex-container" style="justify-content: space-between;">
        <h1 class="heading">
            <a href="/api/players/">Players</a>
        </h1>
        <div class="neon-button-red w3-margin-left" onclick="deleteTokenCookie();">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            LOGOUT
        </div>
    </div>
    <div class="w3-bar w3-dark-gray w3-center">
        <a href="/api/tournaments/" class="w3-bar-item w3-hover-gray" style="text-decoration:none;">Tournaments</a>
        <a href="/api/players/" class="w3-bar-item w3-hover-gray" style="text-decoration:none;">Players</a>
        <a href="/api/decks/" class="w3-bar-item w3-hover-gray" style="text-decoration:none;">Decks</a>
        <a href="/api/standings/" class="w3-bar-item w3-hover-gray" style="text-decoration:none">Standings</a>
    </div>
    <ul class="w3-ul w3-card w3-hoverable w3-dark-gray w3-margin-top" style="width: 50%;margin:auto;">
        {{range .Items}}
        <li class="w3-hover-gray" onclick='window.location.href="{{details .}}"' style="cursor:pointer">{{.Label}}</li>
        {{end}}
    </ul>
    <form class="w3-margin-top" id="form-create" action="/api/players/" method="POST"
        style="display:flex; align-items: center; justify-content: center;">
        <input type="hidden" name="@action" value="create">
        <div class="neon-button-green" style="font-size: 18px;"
            onclick='document.getElementById("form-create").submit()'>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            CREATE
        </div>
    </form>
</body>

</html>