<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/w3.css">
    <script src="/js/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Tournaments</title>
</head>

<body>
    <h1 class="heading">Players/{{.ID}}</h1>
    <div class="w3-bar w3-dark-gray w3-center" style="width:90%;margin:auto;">
        <a href="/api/tournaments/" class="w3-bar-item w3-hover-gray" style="text-decoration:none;">Tournaments</a>
        <a href="/api/players/" class="w3-bar-item w3-hover-gray" style="text-decoration:none;">Players</a>
        <a href="/api/decks/" class="w3-bar-item w3-hover-gray" style="text-decoration:none;">Decks</a>
    </div>
    <ul class="w3-ul w3-card w3-hoverable w3-dark-gray w3-margin-top" style="width: 50%;margin:auto;">
        {{range .Properties}}
        <li class="w3-hover-gray">{{.Label}}: {{.Value}}</li>
        {{end}}
    </ul>
</body>

</html>