<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/w3.css">
    <script src="/js/script.js"></script>
    <title>Tournaments</title>
</head>

<body>
    <div class="flex-container" style="justify-content: space-between;">
        <h1 class="heading">
            <a href="/api/tournaments/">Tournaments</a>
            <a href="/api/tournaments/{{.ID}}">>{{.ID}}</a>
        </h1>
        <div class="neon-button-red w3-margin-left" onclick="deleteTokenCookie();">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            LOGOUT
        </div>
    </div>
    <div class="w3-bar w3-dark-gray w3-center">
        <a href="/api/tournaments/" class="w3-bar-item w3-hover-gray" style="text-decoration:none;">Tournaments</a>
        <a href="/api/players/" class="w3-bar-item w3-hover-gray" style="text-decoration:none;">Players</a>
        <a href="/api/decks/" class="w3-bar-item w3-hover-gray" style="text-decoration:none;">Decks</a>
        <a href="/api/standings/" class="w3-bar-item w3-hover-gray" style="text-decoration:none">Standings</a>
    </div>
    <div class="w3-container w3-margin-top w3-padding" style="width: 40%; margin: auto;background-color: #303030;">
        {{$i := 0}}{{$matches := propertyByName . "matches"}}{{$gameAction := action . "end-game"}}
        {{range $match := $matches}}{{$nameP1 := participantNameByID $ $match.Player1}}{{$nameP2 := participantNameByID $ $match.Player2}}
        <button class="w3-btn w3-black w3-block" style="margin-top:5px;" onclick='accordion("content-match{{$i}}");'>Match {{add $i 1}}:
            {{$nameP1}} VS
            {{$nameP2}}</button>
        <div id="content-match{{$i}}" class="w3-hide">
            {{if $match.Ended}}
            {{if $match.Draw}}
            <div class="w3-container w3-margin">
                Match aleady ended... Draw
            </div>
            {{else}}
            <div class="w3-container w3-padding">
                Match aleady ended... Winner: {{participantNameByID $ $match.Winner}} {{wins $match}}
            </div>
            {{end}}
            {{end}}
            {{$n := 0}} {{$games := $match.Games}}
            {{range $game := $games}}
            <button class="w3-btn w3-black w3-block" onclick='accordion("content-match{{$i}}-game{{$n}}");'>Game
                {{add $n 1}}</button>
            {{if $game.Ended}}
            {{if $game.Draw}}
            <div class="w3-container w3-hide w3-padding" id="content-match{{$i}}-game{{$n}}">
                Game ended... Draw
            </div>
            {{else}}
            <div class="w3-container w3-hide w3-padding" id="content-match{{$i}}-game{{$n}}">
                Game ended... Winner: {{participantNameByID $ $game.Winner}}
            </div>
            {{end}}
            {{else}}
            <form class="w3-container w3-hide w3-padding" id="content-match{{$i}}-game{{$n}}"
                action="{{$gameAction.Href}}" method="{{$gameAction.Method}}" style="text-align: center;">
                <input type='hidden' name='@action' value="{{$gameAction.Rel}}">
                <input type="hidden" name="match" value="{{$i}}">
                <input type='hidden' name='game' value="{{$n}}">
                Winner:
                <select name="pid">
                    <option value="" selected></option>
                    <option value="{{$match.Player1}}">{{$nameP1}}</option>
                    <option value="{{$match.Player2}}">{{$nameP2}}</option>
                </select>
                <input type="checkbox" id="chkbx-match{{$i}}-game{{$n}}-draw" name="draw" value="true">
                <label for="chkbx-match{{$i}}-game{{$n}}-draw">Draw</label>
                <div class="flex-container w3-padding">
                    <div class="neon-button"
                        onclick='document.getElementById("content-match{{$i}}-game{{$n}}").submit()'>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        END GAME
                    </div>
                </div>
            </form>
            {{end}}
            {{$n = add $n 1}}
            {{end}}
        </div>
        {{$i = add $i 1}}
        {{end}}
        {{$actionEndPhase := action $ "end-phase"}}
        <form id="form-{{$actionEndPhase.Rel}}" class="flex-container" action="{{$actionEndPhase.Href}}"
            method="{{$actionEndPhase.Method}}">
            <input type="hidden" name="@action" value="{{$actionEndPhase.Rel}}">
            <div class="neon-button" onclick='document.getElementById("form-{{$actionEndPhase.Rel}}").submit()'>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                END TOURNAMENT
            </div>
        </form>
    </div>
    <script>
        function accordion(id) {
            var acc = document.getElementById(id)
            if (acc.className.indexOf("w3-show") == -1) {
                acc.className += " w3-show"
                acc.previousElementSibling.style.backgroundColor = "#101010"
            } else {
                acc.className = acc.className.replace(" w3-show", "")
                acc.previousElementSibling.style.backgroundColor = ""
            }
        }
    </script>
</body>

</html>