<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/w3.css">
    <script src="/js/script.js"></script>
    <title>TournamentName - Draft</title>
</head>

<body>
    <h1 class="heading">
        <a href="/api/tournaments/">Tournaments</a> >
        <a href="/api/tournaments/{{.ID}}">{{.ID}}</a>
    </h1>
    <div class="w3-bar w3-dark-gray w3-center">
        <a href="/api/tournaments/" class="w3-bar-item w3-hover-gray" style="text-decoration:none;">Tournaments</a>
        <a href="/api/players/" class="w3-bar-item w3-hover-gray" style="text-decoration:none;">Players</a>
        <a href="/api/decks/" class="w3-bar-item w3-hover-gray" style="text-decoration:none;">Decks</a>
    </div>
    {{$n := 0}}
    {{$name := ""}}
    {{$id := ""}}
    {{range .Items}}
    {{$players := .Items}}
    <div class="flex-container w3-margin-top">
        <div id="draftContainer">
            <div id="center" class="flex-container">Table</div>
            {{range $player := $players}}
            {{- createSeatForIndex $players $n -}}
            {{$n = add $n 1}}
            {{end}}
        </div>
    </div>
    {{end}}
    <script>
        document.addEventListener("DOMContentLoaded", e => {
            // createFields({{$n}})
            distributeFields()
        });
    </script>
</body>

</html>