<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/w3.css">
    <script src="/js/script.js"></script>
    <title>Tournaments</title>
</head>

<body>
    <h1 class="heading">
        <a href="/api/tournaments/">Tournaments</a> >
        <a href="/api/tournaments/{{.ID}}">{{.ID}}</a>
    </h1>
    <div class="w3-bar w3-dark-gray w3-center">
        <a href="/api/tournaments/" class="w3-bar-item w3-hover-gray" style="text-decoration:none;">Tournaments</a>
        <a href="/api/players/" class="w3-bar-item w3-hover-gray" style="text-decoration:none;">Players</a>
        <a href="/api/decks/" class="w3-bar-item w3-hover-gray" style="text-decoration:none;">Decks</a>
        <a href="/api/standings/" class="w3-bar-item w3-hover-gray" style="text-decoration:none">Standings</a>
    </div>
    <div class="w3-container w3-margin-top" style="width: 40%; margin: auto;background-color: #303030;">
        <h2 class="w3-center">{{.Label}}</h2>
        <div class="flex-container" style="width: 90%; margin:auto; justify-content: space-between;">
            <p>Current Phase: {{propertyByName $ "phase"}}</p>
            {{range .Actions}}{{if eq .Rel "delete"}}
            <div id="{{.Rel}}-modal" class="w3-modal">
                <div class="w3-modal-content" style="width: 33%;">
                    <form class="w3-container w3-dark-gray" id="form-{{.Rel}}" action="{{.Href}}" method="{{.Method}}">
                        <span onclick='document.getElementById("{{.Rel}}-modal").style.display="none"'
                            class="w3-button w3-display-topright">&times;</span>
                        <h2 class="w3-center">Are you sure about that?</h2>
                        <input type="hidden" name="@action" value="{{.Rel}}">
                        <div class="flex-container w3-margin-bottom">
                            <div class="neon-button-green w3-margin-left"
                                onclick='document.getElementById("form-{{.Rel}}").submit()'>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                YES
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="neon-button-red w3-margin-left"
                onclick='document.getElementById("{{.Rel}}-modal").style.display="block"'>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                DELETE
            </div>
            {{end}}{{end}}
        </div>
        {{$changeName := action $ "change-name"}}
        {{if $changeName}}
        <div class="w3-container w3-dark-gray w3-margin-top" style="width:90%; margin:auto;">
            <h4 class="w3-center">{{$changeName.Label}}</h4>
            <form class="flex-container" id="form-{{$changeName.Rel}}" action="{{$changeName.Href}}"
                method="{{$changeName.Method}}" style="justify-content: flex-start;">
                <input type="hidden" name="@action" value="{{$changeName.Rel}}">
                {{range $changeName.Parameters}}
                <input class="w3-margin-top w3-margin-bottom" type="text" name="{{.Name}}"
                    placeholder="{{.Placeholder}}" autocomplete="off"
                    value='{{range $.Properties}}{{if eq .Name "name"}}{{.Value}}{{end}}{{end}}' style="width: 40%;">
                {{end}}
                <div class="neon-button w3-margin-left"
                    onclick='document.getElementById("form-{{$changeName.Rel}}").submit()'>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    CHANGE
                </div>
            </form>
        </div>
        {{end}}
        {{$changeFormat := action $ "change-format"}}
        {{if $changeFormat}}
        <div class="w3-container w3-dark-gray w3-margin-top" style="width:90%; margin:auto;">
            <h4 class="w3-center">{{$changeFormat.Label}}</h4>
            <form id="form-{{$changeFormat.Rel}}" action="{{$changeFormat.Href}}" method="{{$changeFormat.Method}}"
                style="display: flex; align-items: center; justify-content: flex-start;">
                <input type="hidden" name="@action" value="{{$changeFormat.Rel}}">
                {{range $changeFormat.Parameters}}
                <select class="w3-margin-top w3-margin-bottom" name="{{.Name}}" style="width: 40%;"
                    onchange='document.getElementById("form-{{$changeFormat.Rel}}").submit()'>
                    <option></option>
                    {{$f := propertyByName $ "format"}}{{$cube := "cube"}}
                    <option value="cube" {{if eq $f $cube}}selected{{end}}>Cube</option>
                </select>
                {{end}}
            </form>
        </div>
        {{end}}
        {{$n := propertyByName $ "gamesToWin"}}
        {{$g2w := action $ "change-gamestowin"}}
        {{if $g2w}}
        <div class="w3-container w3-dark-gray w3-margin-top" style="width:90%; margin:auto;">
            <h4 class="w3-center">{{$g2w.Label}}</h4>
            <form class="flex-container" id="form-{{$g2w.Rel}}" action="{{$g2w.Href}}" method="{{$g2w.Method}}"
                style="justify-content: flex-start;">
                <input type="hidden" name="@action" value="{{$g2w.Rel}}">
                {{range $g2w.Parameters}}
                <select class="w3-margin-top w3-margin-bottom" name="{{.Name}}" style="width: 40%;"
                    onchange='document.getElementById("form-{{$g2w.Rel}}").submit()'>
                    <option></option>
                    <option value="1" {{if eq $n 1}}selected{{end}}>Single</option>
                    <option value="2" {{if eq $n 2}}selected{{end}}>Best Of 3</option>
                    <option value="3" {{if eq $n 3}}selected{{end}}>Best of 5</option>
                </select>
                {{end}}
            </form>
        </div>
        {{end}}
        {{$endPhase := action $ "end-phase"}}
        {{if $endPhase}}
        <form class="flex-container w3-margin-top" id="form-{{$endPhase.Rel}}" action="{{$endPhase.Href}}"
            method="{{$endPhase.Method}}">
            <input type="hidden" name="@action" value="{{$endPhase.Rel}}">
            <div class="neon-button w3-margin-left"
                onclick='document.getElementById("form-{{$endPhase.Rel}}").submit()'>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                GO TO REGISTRATION
            </div>
        </form>
        {{end}}
    </div>
</body>

</html>